.Main_content_block {
  background-color: cornflowerblue;
  margin-left: 1.52vw; }
<<<<<<< HEAD


.Messages_content_block {
  display: flex;
  justify-content: space-around;
}

=======
>>>>>>> parent of 5ed0742 (add_second_page)
